#l{
    height: 100px;
    width: 100px;
    background-image: url("https://rukminim2.flixcart.com/image/850/1000/jltrl3k0/poster/z/c/n/large-nature-in-night-wallpaper-ieie003-original-imaeg64fppg8frch.jpeg?q=90&crop=false");
    background-size: cover;
    color: wheat;
    position: fixed;
    right: 0px;
    top: 100px;
}
