 /* h1{
    color: rgb(147, 108, 108);
}
p{
    color: rgb(214, 239, 163); 
    color:hex(0xD6EF9F);
} 
button{
    color:rgb(77, 6, 123);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(77, 6, 123);
    border-radius: 5px;
}
body{
    background-color: rgb(135, 116, 149);
} */

/* universal selector....*{} */
*{
    color: blue;
}

/* elementary selector */
h1{
    color: rgb(232, 68, 68);
}

/* id selector(unique name) */
#headingone{
    color: rgb(147, 108, 108);
}
#headingtwo{
    color: rgb(114, 96, 155);
}
#headingthree{
    color: rgb(88, 20, 92);
}

/* class selector */
.first{
    color: rgb(67, 88, 23); 
    color:hex(0xD6EF9F);
}
.second{
    color: rgb(151, 59, 213);
}
